.theme-zinc {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0.019 259.4);

  --muted: oklch(0.963 0.013 255.36);
  --muted-foreground: oklch(0.515 0.021 258.6);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0.019 259.4);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0.019 259.4);

  --border: oklch(0.912 0.018 257.8);
  --input: oklch(0.912 0.018 257.8);

  --primary: oklch(0.236 0.018 257.8);
  --primary-foreground: oklch(0.98 0 0);

  --secondary: oklch(0.963 0.013 255.36);
  --secondary-foreground: oklch(0.236 0.018 257.8);

  --accent: oklch(0.963 0.013 255.36);
  --accent-foreground: oklch(0.236 0.018 257.8);

  --destructive: oklch(0.67 0.23 25.8);
  --destructive-foreground: oklch(0.98 0 0);

  --ring: oklch(0.236 0.018 257.8);
}

.dark .theme-zinc {
  --background: oklch(0.236 0.018 257.8);
  --foreground: oklch(0.98 0 0);

  --muted: oklch(0.304 0.018 257.8);
  --muted-foreground: oklch(0.68 0.02 258.1);

  --popover: oklch(0.236 0.018 257.8);
  --popover-foreground: oklch(0.98 0 0);

  --card: oklch(0.304 0.018 257.8);
  --card-foreground: oklch(0.98 0 0);

  --border: oklch(0.374 0.024 258.6);
  --input: oklch(0.304 0.018 257.8);

  --primary: oklch(0.98 0 0);
  --primary-foreground: oklch(0.236 0.018 257.8);

  --secondary: oklch(0.374 0.024 258.6);
  --secondary-foreground: oklch(0.98 0 0);

  --accent: oklch(0.304 0.018 257.8);
  --accent-foreground: oklch(0.98 0 0);

  --destructive: oklch(0.45 0.19 25.8);
  --destructive-foreground: oklch(0.98 0 0);

  --ring: oklch(0.85 0.028 256.6);
}

.theme-neutral {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --destructive-foreground: oklch(0.985 0 0);
  --ring: oklch(0.708 0 0);
}

.dark .theme-neutral {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --destructive-foreground: oklch(0.985 0 0);
  --ring: oklch(0.556 0 0);
}

.theme-red {
  --background: oklch(1 0 0);
  --foreground: oklch(0.15 0 0);

  --muted: oklch(0.96 0 0);
  --muted-foreground: oklch(0.5 0 0);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.15 0 0);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.15 0 0);

  --border: oklch(0.91 0 0);
  --input: oklch(0.91 0 0);

  --primary: oklch(0.6 0.21 26.6);
  --primary-foreground: oklch(0.98 0.05 25.8);

  --secondary: oklch(0.96 0 0);
  --secondary-foreground: oklch(0.22 0 0);

  --accent: oklch(0.96 0 0);
  --accent-foreground: oklch(0.22 0 0);

  --destructive: oklch(0.67 0.23 25.8);
  --destructive-foreground: oklch(0.98 0 0);

  --ring: oklch(0.6 0.21 26.6);
}

.dark .theme-red {
  --background: oklch(0.22 0 0);
  --foreground: oklch(0.98 0 0);

  --muted: oklch(0.29 0 0);
  --muted-foreground: oklch(0.67 0 0);

  --popover: oklch(0.29 0 0);
  --popover-foreground: oklch(0.98 0 0);

  --card: oklch(0.29 0 0);
  --card-foreground: oklch(0.98 0 0);

  --border: oklch(0.36 0 0);
  --input: oklch(0.29 0 0);

  --primary: oklch(0.6 0.21 26.6);
  --primary-foreground: oklch(0.98 0.05 25.8);

  --secondary: oklch(0.36 0 0);
  --secondary-foreground: oklch(0.98 0 0);

  --accent: oklch(0.29 0 0);
  --accent-foreground: oklch(0.98 0 0);

  --destructive: oklch(0.45 0.19 25.8);
  --destructive-foreground: oklch(0.98 0.05 25.8);

  --ring: oklch(0.6 0.21 26.6);
}

.theme-rose {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0.019 259.4);

  --muted: oklch(0.963 0.013 255.36);
  --muted-foreground: oklch(0.515 0.021 258.6);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0.019 259.4);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0.019 259.4);

  --border: oklch(0.912 0.018 257.8);
  --input: oklch(0.912 0.018 257.8);

  --primary: oklch(0.61 0.19 18.6);
  --primary-foreground: oklch(0.98 0.03 18.6);

  --secondary: oklch(0.963 0.013 255.36);
  --secondary-foreground: oklch(0.236 0.018 257.8);

  --accent: oklch(0.963 0.013 255.36);
  --accent-foreground: oklch(0.236 0.018 257.8);

  --destructive: oklch(0.67 0.23 25.8);
  --destructive-foreground: oklch(0.98 0.006 255.36);

  --ring: oklch(0.61 0.19 18.6);
}

.dark .theme-rose {
  --background: oklch(0.14 0.02 94.1);
  --foreground: oklch(0.95 0 0);

  --muted: oklch(0.29 0 0);
  --muted-foreground: oklch(0.68 0.02 258.1);

  --popover: oklch(0.22 0 0);
  --popover-foreground: oklch(0.95 0 0);

  --card: oklch(0.23 0.024 94.3);
  --card-foreground: oklch(0.95 0 0);

  --border: oklch(0.304 0.018 257.8);
  --input: oklch(0.304 0.018 257.8);

  --primary: oklch(0.61 0.19 18.6);
  --primary-foreground: oklch(0.98 0.03 18.6);

  --secondary: oklch(0.304 0.018 257.8);
  --secondary-foreground: oklch(0.98 0 0);

  --accent: oklch(0.29 0.02 92.2);
  --accent-foreground: oklch(0.98 0 0);

  --destructive: oklch(0.45 0.19 25.8);
  --destructive-foreground: oklch(0.98 0.05 25.8);

  --ring: oklch(0.61 0.19 18.6);
}

.theme-orange {
  --background: oklch(1 0 0);
  --foreground: oklch(0.14 0.02 94.1);

  --muted: oklch(0.96 0.015 99.8);
  --muted-foreground: oklch(0.5 0.019 94.6);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.14 0.02 94.1);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.14 0.02 94.1);

  --border: oklch(0.91 0.017 94.1);
  --input: oklch(0.91 0.017 94.1);

  --primary: oklch(0.65 0.21 70.1);
  --primary-foreground: oklch(0.98 0.014 99.8);

  --secondary: oklch(0.91 0.017 94.1);
  --secondary-foreground: oklch(0.23 0.024 94.3);

  --accent: oklch(0.96 0.015 99.8);
  --accent-foreground: oklch(0.23 0.024 94.3);

  --destructive: oklch(0.67 0.23 25.8);
  --destructive-foreground: oklch(0.98 0.014 99.8);

  --ring: oklch(0.65 0.21 70.1);
}

.dark .theme-orange {
  --background: oklch(0.23 0.024 94.3);
  --foreground: oklch(0.98 0.014 99.8);

  --muted: oklch(0.29 0.02 92.2);
  --muted-foreground: oklch(0.67 0.018 94.3);

  --popover: oklch(0.23 0.024 94.3);
  --popover-foreground: oklch(0.98 0.014 99.8);

  --card: oklch(0.29 0.02 92.2);
  --card-foreground: oklch(0.98 0.014 99.8);

  --border: oklch(0.36 0.024 94.1);
  --input: oklch(0.29 0.02 92.2);

  --primary: oklch(0.6 0.188 70.08);
  --primary-foreground: oklch(0.98 0.014 99.8);

  --secondary: oklch(0.36 0.024 94.1);
  --secondary-foreground: oklch(0.98 0.014 99.8);

  --accent: oklch(0.29 0.02 92.2);
  --accent-foreground: oklch(0.98 0.014 99.8);

  --destructive: oklch(0.6 0.21 26.6);
  --destructive-foreground: oklch(0.98 0.014 99.8);

  --ring: oklch(0.6 0.188 70.08);
}

.theme-green {
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0.019 259.4);

  --muted: oklch(0.963 0.013 255.36);
  --muted-foreground: oklch(0.515 0.021 258.6);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0.019 259.4);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0.019 259.4);

  --border: oklch(0.912 0.018 257.8);
  --input: oklch(0.912 0.018 257.8);

  --primary: oklch(0.52 0.17 158.4);
  --primary-foreground: oklch(0.98 0.03 18.6);

  --secondary: oklch(0.963 0.013 255.36);
  --secondary-foreground: oklch(0.236 0.018 257.8);

  --accent: oklch(0.963 0.013 255.36);
  --accent-foreground: oklch(0.236 0.018 257.8);

  --destructive: oklch(0.67 0.23 25.8);
  --destructive-foreground: oklch(0.98 0 0);

  --ring: oklch(0.52 0.17 158.4);
}

.dark .theme-green {
  --background: oklch(0.14 0.02 94.1);
  --foreground: oklch(0.95 0 0);

  --muted: oklch(0.29 0 0);
  --muted-foreground: oklch(0.68 0.02 258.1);

  --popover: oklch(0.22 0 0);
  --popover-foreground: oklch(0.95 0 0);

  --card: oklch(0.23 0.024 94.3);
  --card-foreground: oklch(0.95 0 0);

  --border: oklch(0.304 0.018 257.8);
  --input: oklch(0.304 0.018 257.8);

  --primary: oklch(0.58 0.16 158.4);
  --primary-foreground: oklch(0.28 0.08 159.7);

  --secondary: oklch(0.304 0.018 257.8);
  --secondary-foreground: oklch(0.98 0 0);

  --accent: oklch(0.29 0.02 92.2);
  --accent-foreground: oklch(0.98 0 0);

  --destructive: oklch(0.45 0.19 25.8);
  --destructive-foreground: oklch(0.98 0.05 25.8);

  --ring: oklch(0.51 0.19 87.8);
}

.theme-blue {
  --background: oklch(1 0 0);
  --foreground: oklch(0.176 0.076 266.34);

  --muted: oklch(0.963 0.013 255.36);
  --muted-foreground: oklch(0.515 0.021 258.6);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.176 0.076 266.34);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.176 0.076 266.34);

  --border: oklch(0.92 0.021 257.4);
  --input: oklch(0.92 0.021 257.4);

  --primary: oklch(0.65 0.18 262.7);
  --primary-foreground: oklch(0.98 0 0);

  --secondary: oklch(0.963 0.013 255.36);
  --secondary-foreground: oklch(0.29 0.05 266.34);

  --accent: oklch(0.963 0.013 255.36);
  --accent-foreground: oklch(0.29 0.05 266.34);

  --destructive: oklch(0.67 0.23 25.8);
  --destructive-foreground: oklch(0.98 0.05 25.8);

  --ring: oklch(0.7 0.24 290.9);
}

.dark .theme-blue {
  --background: oklch(0.29 0.05 266.34);
  --foreground: oklch(0.98 0.006 255.36);

  --muted: oklch(0.31 0.04 260.2);
  --muted-foreground: oklch(0.68 0.01 261.7);

  --popover: oklch(0.29 0.05 266.34);
  --popover-foreground: oklch(0.98 0.006 255.36);

  --card: oklch(0.31 0.04 260.2);
  --card-foreground: oklch(0.98 0.006 255.36);

  --border: oklch(0.38 0.03 258.4);
  --input: oklch(0.32 0.04 260.8);

  --primary: oklch(0.68 0.26 285.4);
  --primary-foreground: oklch(0.98 0.006 255.36);

  --secondary: oklch(0.38 0.03 258.4);
  --secondary-foreground: oklch(0.98 0.006 255.36);

  --accent: oklch(0.31 0.04 260.2);
  --accent-foreground: oklch(0.98 0.006 255.36);

  --destructive: oklch(0.67 0.23 25.8);
  --destructive-foreground: oklch(0.98 0.05 25.8);

  --ring: oklch(0.61 0.24 291.6);
}

.theme-yellow {
  --background: oklch(1 0 0);
  --foreground: oklch(0.23 0.024 94.3);

  --muted: oklch(0.96 0.015 99.8);
  --muted-foreground: oklch(0.5 0.019 94.6);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.23 0.024 94.3);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.23 0.024 94.3);

  --border: oklch(0.91 0.017 94.1);
  --input: oklch(0.91 0.017 94.1);

  --primary: oklch(0.7 0.18 89.4);
  --primary-foreground: oklch(0.31 0.09 88.1);

  --secondary: oklch(0.91 0.017 94.1);
  --secondary-foreground: oklch(0.23 0.024 94.3);

  --accent: oklch(0.96 0.015 99.8);
  --accent-foreground: oklch(0.23 0.024 94.3);

  --destructive: oklch(0.67 0.23 25.8);
  --destructive-foreground: oklch(0.98 0.014 99.8);

  --ring: oklch(0.23 0.024 94.3);
}

.dark .theme-yellow {
  --background: oklch(0.23 0.024 94.3);
  --foreground: oklch(0.98 0.014 99.8);

  --muted: oklch(0.29 0.02 92.2);
  --muted-foreground: oklch(0.67 0.018 94.3);

  --popover: oklch(0.23 0.024 94.3);
  --popover-foreground: oklch(0.98 0.014 99.8);

  --card: oklch(0.29 0.02 92.2);
  --card-foreground: oklch(0.98 0.014 99.8);

  --border: oklch(0.36 0.024 94.1);
  --input: oklch(0.29 0.02 92.2);

  --primary: oklch(0.7 0.18 89.4);
  --primary-foreground: oklch(0.31 0.09 88.1);

  --secondary: oklch(0.36 0.024 94.1);
  --secondary-foreground: oklch(0.98 0.014 99.8);

  --accent: oklch(0.29 0.02 92.2);
  --accent-foreground: oklch(0.98 0.014 99.8);

  --destructive: oklch(0.67 0.23 25.8);
  --destructive-foreground: oklch(0.98 0.014 99.8);

  --ring: oklch(0.51 0.19 87.8);
}

.theme-violet {
  --background: oklch(1 0 0);
  --foreground: oklch(0.176 0.076 266.34);

  --muted: oklch(0.963 0.013 255.36);
  --muted-foreground: oklch(0.515 0.021 258.6);

  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.176 0.076 266.34);

  --card: oklch(1 0 0);
  --card-foreground: oklch(0.176 0.076 266.34);

  --border: oklch(0.92 0.021 257.4);
  --input: oklch(0.92 0.021 257.4);

  --primary: oklch(0.78 0.2 282.8);
  --primary-foreground: oklch(0.98 0 0);

  --secondary: oklch(0.92 0.021 257.4);
  --secondary-foreground: oklch(0.29 0.05 266.34);

  --accent: oklch(0.92 0.021 257.4);
  --accent-foreground: oklch(0.29 0.05 266.34);

  --destructive: oklch(0.67 0.23 25.8);
  --destructive-foreground: oklch(0.98 0.05 25.8);

  --ring: oklch(0.7 0.24 290.9);
}

.dark .theme-violet {
  --background: oklch(0.29 0.05 266.34);
  --foreground: oklch(0.98 0.006 255.36);

  --muted: oklch(0.31 0.04 260.2);
  --muted-foreground: oklch(0.68 0.01 261.7);

  --popover: oklch(0.29 0.05 266.34);
  --popover-foreground: oklch(0.98 0.006 255.36);

  --card: oklch(0.31 0.04 260.2);
  --card-foreground: oklch(0.98 0.006 255.36);

  --border: oklch(0.38 0.03 258.4);
  --input: oklch(0.32 0.04 260.8);

  --primary: oklch(0.68 0.26 285.4);
  --primary-foreground: oklch(0.98 0.006 255.36);

  --secondary: oklch(0.38 0.03 258.4);
  --secondary-foreground: oklch(0.98 0.006 255.36);

  --accent: oklch(0.31 0.04 260.2);
  --accent-foreground: oklch(0.98 0.006 255.36);

  --destructive: oklch(0.67 0.23 25.8);
  --destructive-foreground: oklch(0.98 0.05 25.8);

  --ring: oklch(0.61 0.24 291.6);
}
